<ul class="nav osahan-tabs  flex-column flex-sm-row" style="cursor:default;">
    <li class="nav-item">
        <a class="nav-link" id="over-view">
            Over View
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pricing">
            Pricing
        </a>
    </li>
    <li class=" nav-item">
        <a class="nav-link" id="description">
            Description
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="media">
            Media
        </a>
    </li>
</ul>