{% extends 'index.html' %}

{% block title %}password_reset_sent{% endblock title %}

{% block main %}

<div class="card text-white bg-info mb-3 email_sent_alert">
    <div class="card-body">
        <h5 class="card-title">Password reset mail sent</h5>
        <p class="card-text text-white">We've emailed you instructions for setting your password, if an account exists
            with the email you entered.
            You should receive them shortly.</p>
        <p class="card-text text-white"> If you don't receive an email, please make sure you've entered the address you
            registered with,
            and check your spam folder.</p>
    </div>
</div>

{% endblock main %}