{% extends 'index.html' %}
{% load static %}

{% block title %}new_password{% endblock title %}

{% block main %}
<!-- Login -->
{% if validlink %}

<div class="bg-white">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-lg-4 mx-auto">
                <div class="osahan-login py-4">
                    <div class="text-center mb-4">
                        <a href="index.html"><img src="{% static 'images/fav.svg' %}" alt="logo"></a>
                        <h5 class="font-weight-bold mt-3">Reset your password</h5>
                    </div>
                    <form action="" method="POST" novalidate>
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="mb-1">New password</label>
                            <span class="text-danger">*</span>
                            <span class="text-danger">{{ form.new_password1.errors|striptags }}</span>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-key-variant position-absolute"></i>
                                {{ form.new_password1 }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">New password confirmation</label>
                            <span class="text-danger">*</span>
                            <span class="text-danger">{{ form.new_password2.errors|striptags }}</span>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-key-variant position-absolute"></i>
                                {{ form.new_password2 }}
                            </div>
                        </div>
                        <button class="btn btn-success btn-block text-uppercase" type="submit"> Reset Password </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="card text-white bg-danger mb-3 email_sent_alert">
    <div class="card-body">
        <h5 class="card-title">Invalid link</h5>
        <p class="card-text text-white"> The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.</p>
    </div>
</div>

{% endif %}

<!-- End Login -->
{% endblock main %}