{% extends 'index.html' %} {% load static %} {% block title %} Acerca de
nosotros {% endblock title %} {% block main %}
<!-- Inner Header -->
<section class="py-5 bg-dark inner-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="mt-0 mb-3 text-white">Acerca de nosotros</h1>
      </div>
    </div>
  </div>
</section>
<!-- End Inner Header -->
<!-- About -->
<section class="py-5 bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="pl-4 col-lg-5 col-md-5 pr-4">
        <img
          class="rounded img-fluid"
          src="images/about.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="col-lg-6 col-md-6 pl-5 pr-5">
        <h2 class="mb-5">
          Tu tranquilidad es nuestra principal prioridad, es por eso que mereces
          de nuestra mejor disposición.
        </h2>
        <h5 class="mt-2">Nuestra Visión</h5>
        <p>

          Somos una compañía de servicios educativos que tiene como
          objetivo comprometerse ante todo con la satisfacción de nuestros
          clientes a través de brindarles  suficiente oferta de socios que puedan realizar sus asignaturas,
          para que de esta manera, el cliente, pueda elegir conforme a la calidad y precio que mejor lo convenga. </p>

        <p>
          En Tuasella estamos construyendo
          una cultura enfocada en el trato justo a nuestros usuarios, así como de igual forma para
          nuestros socios. Esto a través de brindar un servicio de calidad,
          eficiente y seguro en el que puedas confiar.
        </p>
        <h5 class="mt-4">Nuestra Misión</h5>
        <p>
          Nuestra empresa tiene como misión formalizar y sistematizar el mercado de servicios
          educativos. En los próximos años se verá como Tuasella crea nuevas
          oportunidades de innovación dentro de este mercado, siendo la primer
          empresa en usar las tecnologías debidas para hacer los procesos de
          nuestros servicios más eficientes, tanto para los clientes, como para los socios.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About -->
<!-- What We Provide -->
<section class="py-5">
  <div class="section-title text-center mb-5">
    <h2>¿Qué ofrecemos?</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="mt-4 mb-4">
          <i class="text-success mdi mdi-account-box-outline mdi-48px"></i>
        </div>
        <h5 class="mt-3 mb-3">Calidad de servicio</h5>
        <p>Estamos obsesionados con satisfacer las necesidades de nuestros clientes.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="mt-4 mb-4">
          <i class="text-success mdi mdi-check-circle-outline mdi-48px"></i>
        </div>
        <h5 class="mb-3">Nuestros comienzos</h5>
        <p>
          Tuasella empezó de la idea de hacer más eficiente el mercado de
           servicios educativos especializados en tareas, esto después de un análisis detenido sobre
          las deficiencias de un mercado que está lejos de formalizarse.
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="mt-4 mb-4">
          <i class="text-success mdi mdi-account-multiple-outline mdi-48px"></i>
        </div>
        <h5 class="mt-3 mb-3">Nuestro Marketplace</h5>
        <p>
          Ser agradable para el cliente, brindarle confianza del servicio, hacer
          los procesos de contratación de servicios escolares más eficientes.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="mt-4 mb-4">
          <i class="text-success mdi mdi-clock mdi-48px"></i>
        </div>
        <h5 class="mb-3">Nuestros Socios</h5>
        <p>
          Son la base de nuestra empresa, por lo tanto, estamos comprometidos
          con ellos en brindarles las herramientas necesarias para que puedan
          cumplir con su deber debidamente y en el proceso satisfacer las
          necesidades de nuestros clientes.
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="mt-4 mb-4">
          <i class="text-success mdi mdi-sticker-emoji mdi-48px"></i>
        </div>
        <h5 class="mt-3 mb-3">Bolsa trabajo</h5>
        <p>
          Descubre la experiencia de formar parte de nuestra comunidad de socios y
          poder acceder a una infinidad de oportunidades, desde la comodidad de
          tu casa. Registrate para ser un socio de Tuasella.
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="mt-4 mb-4">
          <i class="text-success mdi mdi-comment-alert-outline mdi-48px"></i>
        </div>
        <h5 class="mt-3 mb-3">Soporte & Atención al cliente/socios</h5>
        <p>
          Tu tranquilidad es nuestra prioridad, es por eso que ponemos a tu
          disposición nuestro correo y teléfono móvil de servicio de soporte y
          atención al cliente: tuasella2021@gmail.com; +52 966 665 5544
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End What We Provide -->
{% endblock main %}
