{% extends 'seller_index.html' %}
{% load static %}

{% block title %} {{ user_profile.user_name }} / account_settings {% endblock title %}

{% block main %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="bg-white rounded shadow-sm py-3 sidebar-fix">
                    <div class="dropdown-menu-show">
                        <a class="dropdown-item py-2 active" href="{% url 'account_setting:edit_account' %}">Edit
                            Account</a>
                        <a class="dropdown-item py-2" href="{% url 'account_setting:edit_security' %}">Edit Security</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="bg-white rounded shadow-sm sidebar-page-right">
                    <div>
                        <div class="p-3 border-bottom text-right">
                            <h6 class="mb-0">Need to update your profile? <a href="{% url 'users:account' %}"
                                    class="text-success">Go
                                    to My Profile</a>
                            </h6>
                        </div>
                        <div class="p-3 border-bottom">
                            {% if message == True %}
                            <div class="alert alert-success alert_center" role="alert">
                                Your data saved successfully.
                            </div>
                            {% endif %}
                            <form action="{% url 'account_setting:edit_account' %}" method="POST" class="design-form"
                                novalidate>
                                {% csrf_token %}
                                <div class="row d-flex align-items-center form-group">
                                    <div class="col-md-4">
                                        <p class="text-muted font-weight-bold mb-0">First NAME</p>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="text-danger">{{ name_form.non_field_errors|striptags }}</span>
                                        {{ name_form.first_name }}
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center form-group">
                                    <div class="col-md-4">
                                        <p class="text-muted font-weight-bold mb-0">Last NAME</p>
                                    </div>
                                    <div class="col-md-8">
                                        {{ name_form.last_name }}
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center form-group">
                                    <div class="col-md-4">
                                        <p class="text-muted font-weight-bold mb-0">EMAIL</p>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="email" name="email"
                                            class="form-control font-weight-bold text-muted"
                                            value="{{ request.user.email }}" readonly>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center form-group">
                                    <div class="col-md-4">
                                        <p class="text-muted font-weight-bold mb-0">ONLINE STATUS <span
                                                class="ml-2 small"><i class="fa fa-circle text-success"
                                                    aria-hidden="true"></i></span></p>
                                        <p class="text-muted">When online, your Gigs are visible under the
                                            Online search filter.</p>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>Go Offline for...</option>
                                            <option>1 hour</option>
                                            <option>1 day</option>
                                            <option>1 week</option>
                                            <option>forever</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-success">Save Changes</button>
                                </div>
                            </form>
                        </div>
                        <div class="p-3">
                            <form>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <p class="text-muted font-weight-bold mb-0">ACCOUNT DEACTIVATION</p>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="text-muted">What happens when you deactivate your account?</p>
                                        <dl class="text-muted">
                                            <li>Your profile and Gigs won't be shown on Miver anymore. <span
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="People who will try to view your profile or Gigs will get an 'Unavailable Page' message."><i
                                                        class="fa fa-question-circle" aria-hidden="true"></i></span>
                                            </li>
                                            <li>Active orders will be cancelled. <span data-toggle="tooltip"
                                                    data-placement="top" title="Not including delivered orders."><i
                                                        class="fa fa-question-circle" aria-hidden="true"></i>
                                            </li>
                                            <li>You won't be able to re-activate your Gigs.</li>
                                        </dl>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center form-group">
                                    <div class="col-md-4">
                                        <p class="text-muted font-weight-bold mb-0">I'm leaving because...</p>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>Choose a reason</option>
                                            <optgroup label="Account" issues="">
                                                <option>Unsubscribe from Miver emails</option>
                                                <option>I want to change my username</option>
                                                <option>I have another Miver account</option>
                                                <option>Other</option>
                                            </optgroup>
                                            <optgroup label="Buying" issues="">
                                                <option>I can't find what I need on Miver</option>
                                                <option>Miver is complicated or hard to use</option>
                                                <option>Negative experience with seller/s</option>
                                                <option>I'm unhappy with Miver's policies</option>
                                                <option>Other</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <p class="text-muted font-weight-bold mb-0">Tell us more (optional)</p>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"
                                            placeholder="Help us become better..."></textarea>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-success">Deactivate Account</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}