{% extends 'index.html' %}
{% load static %}

{% block title %} {{ user_profile.user_name }} / account{% endblock title %}

{% block main %}

<div class="main-page second py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 left">

                {% if not user_profile or user_profile.seller == False or user_profile.valid == False %}
                <div class="profile_info">
                    <div class="seller-card">
                        <div>
                            <div class="user-online-indicator is-online " data-user-id="1152855">
                                <i class="fa fa-circle"></i>online
                            </div>
                        </div>
                        <div class="user-profile-info">
                            <div>
                                <div class="user-profile-image" id="edit_image">
                                    <label class="user-pict">
                                        {% if user_profile.profile_image %}
                                        <img style="height: 100px;" src="{{user_profile.profile_image.url}}"
                                            class="img-fluid user-pict-img logout-cursor" alt="Askbootstrap">
                                        {% else %}
                                        <img style="height: 100px;"
                                            src="{% static 'images/user/profile_image_notavailable.jpg' %}"
                                            class="img-fluid user-pict-img logout-cursor" alt="Askbootstrap">
                                        {% endif %}
                                    </label>
                                </div>
                                <form action="{% url 'users:form' %}" method="POST" id="image_form" novalidate
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <span>{{ image_form.profile_image.errors|striptags }}</span>
                                                <span style="margin-left: 60px;">{{ image_form.profile_image }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <button style="width:100%;
                                                    display:block;" type="button" class="btn btn-danger"
                                                    id="cancel_image">Cancelar</button>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <button style="width:100%;
                                                    display:block;" type="submit" class="btn btn-success">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="user-profile-label">
                                <div class="username-line">
                                    <p class="seller-link">{{ user_profile.user_name }}</p>
                                </div>
                                <div class="oneliner-wrapper">
                                    <small class="oneliner">{{ user_profile.bio }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="user-stats-desc">
                            <ul class="user-stats">
                                <li class="location">País <strong>United States</strong></li>
                                <li class="member-since">Miembro desde<strong>
                                        {{ request.user.date_joined| date:"F d Y" }}
                                    </strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="profile_info">
    <div class="seller-card">
        <div>
            <div class="user-online-indicator is-online " data-user-id="1152855">
                <i class="fa fa-circle"></i>online
            </div>
        </div>
        <div class="user-profile-info">
            <div>
                <div class="user-profile-image" id="edit_image">
                    <label class="user-pict">
                        {% if user_profile.profile_image %}
                        <img style="height: 100px;" src="{{user_profile.profile_image.url}}"
                            class="img-fluid user-pict-img logout-cursor" alt="Askbootstrap">
                        {% else %}
                        <img style="height: 100px;" src="{% static 'images/user/profile_image_notavailable.jpg' %}"
                            class="img-fluid user-pict-img logout-cursor" alt="Askbootstrap">
                        {% endif %}
                    </label>
                </div>
                <form action="{% url 'users:form' %}" method="POST" id="image_form" novalidate
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <span>{{ image_form.profile_image.errors|striptags }}</span>
                                <span style="margin-left: 60px;">{{ image_form.profile_image }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <button style="width:100%;
                                    display:block;" type="button" class="btn btn-danger"
                                    id="cancel_image">Cancel</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <button style="width:100%;
                                    display:block;" type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="user-profile-label">
                <div class="username-line">
                    <p class="seller-link">{{ user_profile.user_name }}</p>
                </div>
                <div class="oneliner-wrapper">
                    <small class="oneliner">{{ user_profile.bio }}</small>
                </div>
            </div>
        </div>
        {% if not user.is_authenticated %}
        <div class="buttons-wrapper">
            <a href="#" class="btn-lrg-standard btn-contact-me js-contact-me js-open-popup-join">Contactame
                </a>
            <div class="btn-lrg-standard btn-white btn-custom-order">Get a Quote</div>
        </div>
        {% endif %}
        <div class="user-stats-desc">
            <ul class="user-stats">
                <li class="location">From<strong>United States</strong></li>
                <li class="member-since">Member since<strong>{{ request.user.date_joined|date:"F d Y" }}</strong></li>
                <li class="response-time">Avg. Response Time<strong>0 hours</strong></li>
                <li class="recent-delivery">Recent Delivery<strong>about&nbsp;0</strong></li>
            </ul>
        </div>
    </div>
</div>
<div class="seller-profile">
    <div class="description">
        <div class="row">
            <div class="col-6">
                <h3>Descripción</h3>
            </div>
            <div class="col-6">
                <h3 id="edit_description" style="float:right; cursor: pointer;">Editar</h3>
            </div>
        </div>
        <form action="{% url 'partners:description' %}" method="POST" id="description_form" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <span>{{ description_form.description|striptags }}</span>
                        {{ description_form.description }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <button style="width:100%;
                        display:block;" type="button" class="btn btn-danger" id="cancel_description">Cancelar</button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button style="width:100%;
                        display:block;" type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
        <p id="description_content">
            {{ user_profile.description }}
        </p>
    </div>
    <div class="languages">
        <h3>Lenguas</h3>
        <ul>
            <li>English&nbsp;&nbsp;- <span>Fluent</span></li>
            <li>Spanish&nbsp;<strong>(español)</strong>&nbsp;- <span>Conversational</span></li>
            <li>French&nbsp;<strong>(français)</strong>&nbsp;- <span>Basic</span></li>
        </ul>
    </div>
    <div class="linked-accounts">
        <h3>Linked Accounts</h3>
        <ul>
            <li class="platform social-account facebook"><i class="platform-icon facebook hint--top" aria-hidden="true"
                    data-hint="facebook"></i><span class="text">facebook</span>
            </li>
            <li class="platform social-account google"><i class="platform-icon google hint--top" aria-hidden="true"
                    data-hint="google"></i><span class="text">google</span></li>
        </ul>
    </div>
    <div class="skills">
        <h3>Skills</h3>
        <ul>
            <li class=""><a href="#">voice talent</a></li>
            <li class=""><a href="#">voice acting</a></li>
            <li class=""><a href="#">voiceover</a></li>
            <li class=""><a href="#">voice over</a></li>
            <li class=""><a href="#">voiceover talent</a></li>
            <li class=""><a href="#">voice actor</a></li>
            <li class=""><a href="#">voicetalent</a></li>
            <li class=""><a href="#">voiceacting</a></li>
            <li class=""><a href="#">voiceactor</a></li>
            <li class=""><a href="#">voiceover artist</a></li>
        </ul>
    </div>
    <div class="education-list list">
        <h3>Education</h3>
        <ul>
            <li>
                <p>B.A. - communication studies</p>
                <p>Clayton State University, United States, Graduated 2006</p>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="col-lg-8 right">
    <h2> {{ user_profile.user_name }} Gigs</h2>
    <div class="recommended">
        <div class="row">

            {% for i in active_gigs %}

            {% if i.active == True %}
            <div class="col-md-4">
                <div>
                    <a href="{% url 'gigs:gig_detail' i.id %}">

                        {% if i.media.main_image %}
                        <img class="img-fluid" src="{{ i.media.main_image.url }}" />
                        {% else %}
                        <img class="img-fluid" src="images/list/v3.png" />
                        {% endif %}

                    </a>
                    <div class="inner-slider">
                        <div class="inner-wrapper">
                            <div class="d-flex align-items-center">
                                <span class="seller-image">

                                    {% if user_profile.profile_image %}
                                    <img class="img-fluid" src="{{ user_profile.profile_image.url }}" alt='' />
                                    {% else %}
                                    <img class="img-fluid" src="images/user/s3.png" alt='' />
                                    {% endif %}

                                </span>
                                <span class="seller-name">
                                    <a href="{% url 'gigs:gig_detail' i.id %}">
                                        {{ user_profile.user_name|truncatechars:15 }}
                                    </a>
                                    <!-- later -->
                                    <!-- <span class="level hint--top level-one-seller">
                                        Level 1 Seller
                                    </span> -->
                                </span>
                            </div>
                            <h3>
                                <a href="{% url 'gigs:gig_detail' i.id %}">
                                    I will {{ i.over_view.title|truncatechars:50 }}
                                </a>
                            </h3>
                            <!-- later -->
                            <!-- <div class="content-info">
                                <div class="rating-wrapper">
                                    <span class="gig-rating text-body-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
                                            height="15">
                                            <path fill="currentColor"
                                                d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                            </path>
                                        </svg>
                                        5.0
                                        <span>(7)</span>
                                    </span>
                                </div>
                            </div> -->
                            <div class="footer">
                                <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
                                <div class="price ml-auto">
                                    <a href="{% url 'gigs:gig_detail' i.id %}">
                                        Starting At <span> $ {{ i.pricing.price }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% endfor %}

        </div>
    </div>

    <!-- <div class="review-section">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0">Reviews as Seller <small><span class="star-rating-s15"></span><span><span
                            class="total-rating-out-five header-average-rating"
                            data-impression-collected="true">5</span></span><span><span
                            class="total-rating header-total-rating"
                            data-impression-collected="true">(28051)</span></span></small> </h4>
            <select class="custom-select custom-select-sm border-0 shadow-sm ml-2">
                <option>Most Relevant</option>
                <option>Most Recent</option>
            </select>
        </div>
        <div class="breakdown">
            <ul class="header-stars">
                <li>
                    Seller communication level
                    <small>
                        <span class="star-rating-s15"></span>
                        <span class="total-rating-out-five">5</span>
                    </small>
                </li>
                <li>
                    Recommend to a friend
                    <small>
                        <span class="star-rating-s15"></span>
                        <span class="total-rating-out-five">5</span>
                    </small>
                </li>
                <li>
                    Service as described
                    <small>
                        <span class="star-rating-s15"></span>
                        <span class="total-rating-out-five">5</span>
                    </small>
                </li>
            </ul>
        </div>
    </div>
    <div class="review-list">
        <ul>
            <li>
                <div class="d-flex">
                    <div class="left">
                        <span>
                            <img src="images/user/s9.png" class="profile-pict-img img-fluid" alt="">
                        </span>
                    </div>
                    <div class="right">
                        <h4>
                            Askbootstrap
                            <span class="gig-rating text-body-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
                                    <path fill="currentColor"
                                        d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                    </path>
                                </svg>
                                5.0
                            </span>
                        </h4>
                        <div class="country d-flex align-items-center">
                            <span>
                                <img class="country-flag img-fluid" src="images/flag/india.png">
                            </span>
                            <div class="country-name font-accent">India</div>
                        </div>
                        <div class="review-description">
                            <p>
                                The process was smooth, after providing the required info,
                                Pragyesh sent me an outstanding packet of wireframes. Thank you a lot!
                            </p>
                        </div>
                        <span class="publish py-3 d-inline-block w-100">Published 4 weeks ago</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex">
                    <div class="left">
                        <span>
                            <img src="images/user/s8.png" class="profile-pict-img img-fluid" alt="">
                        </span>
                    </div>
                    <div class="right">
                        <h4>
                            Askbootstrap
                            <span class="gig-rating text-body-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
                                    <path fill="currentColor"
                                        d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                    </path>
                                </svg>
                                5.0
                            </span>
                        </h4>
                        <div class="country d-flex align-items-center">
                            <span>
                                <img class="country-flag img-fluid" src="images/flag/flag.png">
                            </span>
                            <div class="country-name font-accent">Germany</div>
                        </div>
                        <div class="review-description">
                            <p>
                                The process was smooth, after providing the required info,
                                Pragyesh sent me an outstanding packet of wireframes. Thank you a lot!
                            </p>
                        </div>
                        <span class="publish py-3 d-inline-block w-100">Published 4 weeks ago</span>
                    </div>
                </div>
            </li>
        </ul>
    </div> -->
</div>
</div>
</div>
</div>

{% endif %}

{% endblock main %}

{% block javascript %}

<script>

    window.onload = function () {
        '{% if not image_form.profile_image.errors %}'
        document.querySelector('#image_form').style.display = 'none'
        '{% endif  %}'

        '{% if not description_form.description.errors %}'
        document.querySelector('#description_form').style.display = 'none'
        '{% endif  %}'
    };

    document.querySelector('#edit_image').onclick = function () {
        document.querySelector('#image_form').style.display = 'block'
    }
    document.querySelector('#cancel_image').onclick = function () {
        document.querySelector('#image_form').style.display = 'none'

    }


    document.querySelector('#edit_description').onclick = function () {
        document.querySelector('#description_content').style.display = 'none'
        document.querySelector('#description_form').style.display = 'block'
    }
    document.querySelector('#cancel_description').onclick = function () {
        document.querySelector('#description_form').style.display = 'none'
        document.querySelector('#description_content').style.display = 'block'
    }
</script>

{% endblock javascript %}
