{% extends 'seller_index.html' %}
{% load static %}

{% block title %} {{ user_profile.user_name }} / partner-dashboard {% endblock title %}

{% block main %}

<div class="main-page second py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 left">
                <div class="profile_info">
                    <div class="seller-card">
                        <div>
                            <div class="user-online-indicator is-online " data-user-id="1152855">
                                <i class="fa fa-circle"></i>online
                            </div>
                        </div>
                        <div class="user-profile-info">
                            <div>
                                <div class="user-profile-image">
                                    <label class="user-pict">
                                        {% if user_profile.profile_image %}
                                        <img src="{{ user_profile.profile_image.url }}"
                                            class="img-fluid user-pict-img profile_image"
                                            alt="{{ user_profile.user_name }}">
                                        {% endif %}
                                        <a href="#"
                                            class="user-badge-round user-badge-round-med locale-en-us top-rated-seller"></a></label>
                                </div>
                            </div>
                            <div class="user-profile-label">
                                <div class="username-line">
                                    <a href="#" class="seller-link">{{ user_profile.user_name }}</a>
                                </div>
                                <!-- <div class="oneliner-wrapper">
                                    <small class="oneliner">Professional Voice Actress</small>
                                    <div class="ratings-wrapper">
                                        <p class="rating-text"><strong>5.0</strong> (1k+ reviews)</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="border-top border-bottom py-3">
                            <div class="d-flex align-items-center py-1">
                                Response Rate
                                <div class="font-weight-bold ml-auto d-flex align-items-center">
                                    <span class="btn btn-success border-0 py-1 px-4 mr-2"></span>
                                    100%
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                Delivered on Time
                                <div class="font-weight-bold ml-auto d-flex align-items-center">
                                    <span class="btn btn-success border-0 py-1 px-4 mr-2"></span>
                                    100%
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                Order Completion
                                <div class="font-weight-bold ml-auto d-flex align-items-center">
                                    <span class="btn btn-success border-0 py-1 px-4 mr-2"></span>
                                    100%
                                </div>
                            </div>
                        </div>
                        <div class="pt-3">
                            <div class="d-flex align-items-center py-1 h6">
                                Earned in March
                                <div class="font-weight-bold ml-auto d-flex align-items-center">
                                    $2334
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1 h6">
                                Response Time
                                <div class="font-weight-bold ml-auto d-flex align-items-center">
                                    N/A
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 right">
                <div class="d-flex align-items-center p-3 bg-white rounded shadow-sm h5 m-0">
                    <b>Active orders</b>
                    <div class="ml-auto d-flex align-items-center h5 m-0 text-muted">
                        15 ($5000)
                    </div>
                </div>
                <div class="p-4 bg-white rounded shadow-sm my-3">
                    <h6 class="mb-2 font-weight-bold">How to build your success on Miver in 3 steps
                    </h6>
                    <p class="m-0">The key to your success on Miver is the brand you build for yourself through your
                        Miver reputation. We gathered some tips and resources to help you become a leading seller on
                        Miver.
                    </p>
                </div>
                <div class="p-4 bg-white rounded shadow-sm mb-3">
                    <h5 class="mb-4 font-weight-bold text-center">Take these steps to become a top seller on Miver
                    </h5>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="display-4 my-2">
                                <i class="fa fa-volume-up text-success" aria-hidden="true"></i>
                            </div>
                            <h6 class="font-weight-bold">Get noticed</h6>
                            <p class="text-muted">Hone your skills and expand your knowledge with online courses. You’ll
                                be able to offer more services and <b>gain more exposure</b> with every course
                                completed.
                            </p>
                            <button class="btn btn-outline-success" type="submit"> Share Your Gigs </button>
                        </div>
                        <div class="col-lg-4">
                            <div class="display-4 my-2">
                                <i class="fa fa-book text-success" aria-hidden="true"></i>
                            </div>
                            <h6 class="font-weight-bold">Get more skills & exposure</h6>
                            <p class="text-muted">Watch this free online course to learn how to create an outstanding
                                service experience for your buyer and grow your career as an online freelancer.
                            </p>
                            <button class="btn btn-outline-success" type="submit"> Explore Learn </button>
                        </div>
                        <div class="col-lg-4">
                            <div class="display-4 my-2">
                                <i class="fa fa-star text-success" aria-hidden="true"></i>
                            </div>
                            <h6 class="font-weight-bold">Become a successful seller!</h6>
                            <p class="text-muted">Hone your skills and expand your knowledge with online courses. You’ll
                                be able to offer more services and <b>gain more exposure</b> with every course
                                completed.
                            </p>
                            <button class="btn btn-outline-success" type="submit"> Watch Free Course </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}